.wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 60px;
  overflow: hidden;
}

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.loader:after {
  content: ' ';
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--clr-indigo);
  border-color: var(--clr-indigo) transparent var(--clr-indigo) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
