.admin {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 0 1rem;
}

.wraper {
  max-width: 75em;
  margin: auto;
  margin-top: 20px;
}

.addorn {
  position: absolute;
  bottom: -110px;
  left: -90px;
  width: 12rem;
  height: 12rem;
  border-radius: 6rem;
  background-color: var(--clr-indigo);
  z-index: -1;
}

@media only screen and (min-width: 48em) {
  .header {
    padding: 0;
  }
}
