.header {
  border-bottom: 1px solid var(--clr-dark-gray);
  padding: 0 1rem;

  &__content {
    display: flex;
    justify-content: space-between;
    height: 50px;
    max-width: 75em;
    margin: auto;
    & > a {
      display: grid;
      place-items: center;
    }
  }
}

.logo {
  transform: rotate(45deg);
  color: var(--clr-indigo);
}

@media only screen and (min-width: 48em) {
  .header {
    padding: 0;
  }
}
