.buttons {
  display: flex;
  gap: 1rem;
}

.button__content {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.no__content {
  text-align: center;
}

.table__content {
  margin-top: 5px;
  overflow: auto;
  max-height: 65vh;
}
