:root {
  // Colors
  --clr-indigo: #8858f2;
  --clr-dark-indigo: #7548d7;
  --clr-light-gray: #f4f5f9;
  --clr-dark-gray: #c0c0c0;
  --clr-light-black: #2c3e50;
  --clr-light-green: #e5f6ee;
  --clr-dark-green: #6fb07a;
  --clr-light-red: #fbf3f1;
  --clr-dark-red: #df8085;
  --clr-white: white;
  --clr-transparent-black: rgba(0, 0, 0, 0.185);

  --color-background: var(--clr-light-gray);
  --color-text: var(--clr-light-black);
  --color-card: var(--clr-white);

  //Breakpoints
  --breakpoint-sm: 36em;
  --breakpoint-md: 48em;
  --breakpoint-lg: 62em;
  --breakpoint-xl: 75em;
  --breakpoint-xxl: 87.5em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: bold;
}

button {
  border: none;
  background: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;

  &:disabled {
    background-color: var(--clr-dark-gray);
    pointer-events: none;
    color: var(--clr-light-black);
  }
}
